.body-ab{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}
.container-ab {
    place-items: center;
    max-width: 1024px;
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}
.left, .right {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: left;
}
.title {
    /* font-size: 32px; */
    font-weight: 300;
    margin-bottom: 16px;
}
.name {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.name h2 {
    font-size: 24px;
    font-weight: bold;
    margin-right: 8px;
}
.name i {
    font-size: 20px;
}
.subtitle-ab {
    font-size: 18px;
    margin-bottom: 8px;
}
.description-ab {
    font-size: 18px;
    line-height: 1.6;
}


@media (max-width: 768px) {
    .container-ab {
      grid-template-columns: none;
      text-align-last: center;
    }
    .name{    place-self: anchor-center;}
    h2 {
      justify-self: center;
    }
  }