.story-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
    gap: 4rem;
    max-width: 1200px;
    margin: 0 auto;
}
.titile{
  font-size: xx-large;
  padding: 13px;
  place-self: center;
  align-self: anchor-center;
}


.image-right{
  margin-right: auto;
  place-self: end;
}

.content{
  place-self: center;
}

.div-container {
  line-height: 2.5; 
  justify-self: right;
  bottom: -148px;
  right: -70px;
  margin-top: -90px;
  position: relative;
  margin-right: -1px;
  place-self: initial;
}
.text{
  max-width: 28rem;
    height: auto;
}




@media (max-width: 1370px) {
  /* .scalimage{
    display: block;
    width: 600px !important;
  } */
  .scalsvg {
    width: 70rem;
  }
 }

 @media (max-width: 1069px) {
  /* .scalimage{
    display: block;
    width: 300px !important;
  } */
  .scalsvg {
    width: 50rem;
  }
 }



 @media (max-width: 864px) {

   
  .div-container{
  
 line-height: 2.5;
 justify-self: right;
 bottom: -147px;
 right: -40px;
 margin-top: -88px;
 position: relative;
 margin-right: 40px !important; 
 place-self: initial;
  }
 }

@media (max-width: 460px) {
  .div-container{
    margin-right: unset !important;
  }
  .scalsvg{
    width: 320px !important;
  }
}

 @media (max-width: 761px) {
  .disablestory{
    position: fixed;
  }
  .disablestorydesktop{
    position: unset !important;
    opacity: 100 !important;
    
   }
   .announcement{
    padding-right: 4rem !important;
    padding-left: 4rem !important;
   }
   .scalsvg {
    width: 29rem !important;
}
   .div-container{
    line-height: 2.5; 
    justify-self: unset;
    bottom: 0;
    right: 0;
    margin-top: 0;
    position: unset;
    margin-right: 0;
   
   }
   .story-container{
    display: grid;
    grid-template-columns: unset;
    gap: 0;
    place-content: center;
   }
 }

 .disablestorydesktop{
  position: fixed;
  opacity: 0 ;}


  .announcement {
    background:  2px  #f5f5f5;
    padding: 20px;
    margin-bottom: 40px;
    text-align: center;
    padding-right: 9rem;
    padding-left: 9rem;
}
.announcement p {
  
    margin-bottom: 20px;
}
.announcement ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}
.announcement ul li {
    margin-bottom: 10px;
}


.buttonrounded{
  display: inline-flex
  ;
      align-items: center;
      gap: 13px;
      padding: 8px 16px;
      border: 2px solid #333;
      background-color: #f5f5f5;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.2s;
      font-family: "Syncopate", "FakePearl-Regular", serif;
      /* font-weight: bold; */
      /* padding: 15px; */
      /* color: #000000; */
      border-radius: 25px;
      border: solid 1px black;
}